Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
ipython==1.1.0
itsdangerous==0.23
pika==0.9.13
pyserial==2.7
stevedore==0.13
virtualenv==1.11
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
